* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(0, 8, 5, 0.7);
}

img {
    vertical-align: middle;
}

header {
    width: 100%;
    height: 70px;
}

#logo {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 40px;
    font-weight: bold;
    color: black;
}

main {
    width: 100%;
    background-color: rgba(229, 234, 238, 0.382);
}

.main--upperblock {
    width: 100%;
    height: 50px;
    background-color: rgba(229, 234, 238, -0.618);
}

.main--container {
    width: 1100px;
    height: 900px;
    background-color: white;
    margin: auto;
}

.main--buttonblock {
    width: 1100px;
    height: 50px;
    background-color: white;
    margin: auto;
    margin-bottom: 2px;
    line-height: 50px;
    padding-left: 50px;
}

button {
    padding: 5px;
}

#button-blue {
    background-color: rgba(13, 146, 199, 0.911);
    color: white;
    border: rgba(13, 146, 199, 0.911);
    border-radius: 3px;
}

#button-white {
    background-color: white;
    color: lightgrey;
    border: 2px solid lightgrey;
    border-radius: 3px;
}


.container--title {
    width: 100%;
    height: 50px;
    padding-left: 50px;
    padding-top: 25px;
    font-weight: bold;
    font-size: 20px;
}

.container--text {
    width: 100%;
    height: 30px;
    padding-left: 70px;
    padding-top: 5px;
}

#text {
    font-weight: 500;
}

.label {
    margin-left: 5px;
    padding: 4px;
    border-radius: 11px;
    font-size: 12px;
    color: white;
}

.blue {
    background-color: #0babf3;
}

.violet {
    background-color: #8c43a7;
}

.green {
    background-color: rgb(34, 172, 119);
}

.orange {
    background-color: rgb(232, 139, 9);
}

.olive {
    background-color: rgba(169, 232, 9, 0.9);
}

.pink {
    background-color: rgba(216, 45, 176, 0.9);
}


.tick::before {
    content: "\2713";
    color: rgb(34, 172, 119);
    border: 1px solid;
    border-radius: 14px;
    padding: 5px;
    font-size: 10px;
}

.circle {
    border: 1px solid rgb(34, 172, 119);
    border-radius: 5px;
}

.cross::before {
    content: "\2713";
    color: rgb(215, 25, 25);
    border: 1px solid;
    border-radius: 14px;
    padding: 5px;
    font-size: 10px;
}